@model Egreeting.Models.Models.Category

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Detail - Category";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Category management
        <small>Edit</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li>Admin</li>
        <li><a href="@Url.Action("Index")">Categories</a></li>
        <li class="active">Edit</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Edit category</h3>
        </div><!-- /.box-header -->
        <form>
            <div class="box-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="hidden" name="CategoryID" value="@Model.CategoryID">
                <div class="form-group">
                    <label for="">Category Name</label>
                    <input type="text" class="form-control" id="categoryName" placeholder="Category name" name="CategoryName" onblur="CreateSlug()" value="@Model.CategoryName" readonly>
                    @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="">Category Slug</label>
                    <input type="text" class="form-control" id="categorySlug" placeholder="Category slug" name="CategorySlug" value="@Model.CategorySlug" readonly>
                    @Html.ValidationMessageFor(model => model.CategorySlug, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="box-footer">
                <button class="btn btn-primary" type="button" onclick="BackToIndex()">Back to index</button>
            </div>

        </form>
    </div>


</section><!-- /.content -->
</div><!-- /.content-wrapper -->
<!-- Main content -->

@section scripts{
    <script>
        function BackToIndex()
        {
            window.location.href = ('@Url.Action("Index")');
        }
    </script>
}
