@model Egreeting.Models.Models.Ecard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ecard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EcardSlug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EcardSlug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EcardType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EcardType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EcardUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EcardUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EcardID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
