@model IEnumerable<Egreeting.Models.Models.Payment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReceiveMoney)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsReceived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiveMoney)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsReceived)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PaymentRequestID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PaymentRequestID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PaymentRequestID })
        </td>
    </tr>
}

</table>
