@model Egreeting.Models.Models.OrderDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TransactionSend</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SenderEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipientEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipientEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeSuccess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeSuccess)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionSendID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
